
body {
    background: url(admit1.jpg);
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container {
    width: 50%;
    /* backdrop-filter: blur(50px); */
    margin: 50px auto;
    background-color: rgba(232, 201, 226, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
}
.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 0vh;

}

h1 {
    text-align: center;
        color: #fff;
        margin-bottom: 30px;
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        position: relative;
        padding: 20px;
        background: linear-gradient(135deg, #007bff, #00c6ff);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        display: inline-block;
        z-index: 1;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    color: #555;
    font-size: 16px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button[type="submit"] {
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    h1 {
        font-size: 20px;
    }

    label,
    input[type="text"],
    input[type="number"],
    select,
    button[type="submit"] {
        font-size: 14px;
    }
}

.sticky-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #007bff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.sticky-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky-nav ul li {
    margin: 0 15px;
}

.sticky-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.sticky-nav ul li a:hover {
    color: #cce7ff;
}
.container {
    margin-top: 70px;

}